html, body, ul, li, span, p, div,
a, form, input, button, img, h1,
h2, h3, h4, h5, h6, header, td,
th, dd, dl, tr, table, footer, main,
aside, article, section, select, option {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 100px;
}

body {
  min-width: 1024px;
  font-size: 16px;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.clearFix::after {
content: "";
display: block;
clear: both;
}

